{% extends 'base.html.twig' %}

{% block title %}Edit Coach{% endblock %}

{% block body %}
    <div class="header">Edit Coach Profile</div>

    <div class="container">
        {{ form_start(form) }}
        {{ include('coach/form.html.twig') }}
        <button class="btn btn-primary">Update</button>
        <a href="{{ path('coach_index') }}" class="btn btn-secondary">Back to list</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
